doctype html
html 
	head(lang="en")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Shooter Game
		link(rel="stylesheet" href="css/style.min.css")
	body
		.page
			include pug/scene/scene
	
		script(src="js/app.min.js") 
