@import 'fonts';
@import 'vars';
@import 'mixins';
@import '../../node_modules/modern-normalize/modern-normalize';
@import '../../node_modules/slick-carousel/slick/slick';

html {
	font-size: $font-size + px;
	line-height: 1.5em;
}

body {
	margin: 0;
	font-family: $font-primary;
	color: #fff;
	background: url('https://wallpaperaccess.com/full/3496333.jpg') center / cover no-repeat;
	overflow: hidden;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	width: 100%;
	max-width: $container-width;
	padding: 0 $container-padding;
	margin: 0 auto;
}

a {
	position: relative;
	color: $primary-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p,
ul,
input,
form,
li {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

button {
	background: none;
	border: none;
	padding: 0;
}
