/*--------------- page -------------*/
$page-width: 1920px;
$container-padding: 15px;
$container-width: 1200px;

/*--------------- font -------------*/
$font-primary: 'Roboto',
sans-serif;
$font-size: 14;
$font-size-desk: 42;

/*--------------- colors -------------*/
$primary-color: #3B3D46;
$secondary-color: #00B4E3;
$grey-color: #E6E6E6;
$light-blue-color: #F1F7F8;
$light-blue-sec-color: #F4F9F9;

$bg-color: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
$star-color:#ffb400;


/*--------------- media -------------*/
$first-point: 568px; //xxs
$second-point: 667px; //xs
$third-point: 768px; //sm
$fourth-point: 1024px; //md
$fifth-point: 1366px; //xl
$sixth-point: 1440px; //lg
